In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("train.csv")
df.describe()

             seq_id            pH            tm
count  31390.000000  31104.000000  31390.000000
mean   15694.500000      6.892339     49.147337
std     9061.656811      1.612225     14.010089
min        0.000000      1.990000     -1.000000
25%     7847.250000      7.000000     42.100000
50%    15694.500000      7.000000     48.000000
75%    23541.750000      7.000000     53.800000
max    31389.000000     64.900000    130.000000

In [3]:
df.head

<bound method NDFrame.head of        seq_id                                   protein_sequence   pH  \
0           0  AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...  7.0
1           1  AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...  7.0
2           2  AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...  7.0
3           3  AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...  7.0
4           4  AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...  7.0
...       ...                                                ...  ...
31385   31385  YYMYSGGGSALAAGGGGAGRKGDWNDIDSIKKKDLHHSRGDEKAQG...  7.0
31386   31386  YYNDQHRLSSYSVETAMFLSWERAIVKPGAMFKKAVIGFNCNVDLI...  7.0
31387   31387  YYQRTLGAELLYKISFGEMPKSAQDSAENCPSGMQFPDTAIAHANV...  7.0
31388   31388  YYSFSDNITTVFLSRQAIDDDHSLSLGTISDVVESENGVVAADDAR...  7.0
31389   31389  YYVPDEYWQSLEVAHKLTFGYGYLTWEWVQGIRSYVYPLLIAGLYK...  7.0

                             data_source    tm
0      doi.org/10.1038/s41592-020-0801-4  75.7
1      doi.org/10.1038/s41592-020-0801-4  50.5
2      doi.org/10.1038/s41592-020-0801-4  40.5
3      doi.org/10.1038/s41592-020-0801-4  47.2
4      doi.org/10.1038/s41592-020-0801-4  49.5
...                                  ...   ...
31385  doi.org/10.1038/s41592-020-0801-4  51.8
31386  doi.org/10.1038/s41592-020-0801-4  37.2
31387  doi.org/10.1038/s41592-020-0801-4  64.6
31388  doi.org/10.1038/s41592-020-0801-4  50.7
31389  doi.org/10.1038/s41592-020-0801-4  37.6

[31390 rows x 5 columns]>